PyQt5
requests
pyinstaller
edge-tts
pygame
psutil
cython
winsdk; sys_platform == 'win32'
pycaw; sys_platform == 'win32'
comtypes; sys_platform == 'win32'

openpyxl
xlrd
pandas
pywin32; sys_platform == 'win32'
mss
pillow
faster-whisper
sounddevice
scipy
onnxruntime==1.16.3
tokenizers